﻿<%@ Page Title="Reportes" Language="C#" MasterPageFile="~/Site1.Master" CodeBehind="Reportes.aspx.cs" Inherits="CovegInventarios.Views.Reportes.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
