* {
margin:0;
padding:0;
}



#contenedor{
	margin:0 auto;
	width: 742px;
	height:1750px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}


#menu {
	width:740px;
	height:20px;
	float:left;
	margin-left:1px;
	margin-right:1px;
}


#menu-navi{
list-style:none;
margin:0px;
padding:0px;
}


#menu-navi li {
border-right:1px solid #CFCDCE;
border-bottom:1px solid #CFCDCE;
float:left;
font-size:12px;	
}

#menu-navi li a {
display:block;	
width:184px;	
text-decoration:none;	
padding:4px 0;
text-align:center;	
font-size:12px;	
color:#525252;	
background-image:url(img/roll_over2.gif);
}

#menu-navi li a:hover {
color:#FFFFFF;	
background-image:url(img/roll_over.gif);

}

p.linea{
width:400px;
height:1px;
background-color:#D6D6D6;
font-size:2px;

}


.secciones_centro {
		margin-top:75px;
		margin-bottom:30px;
		margin-left:0px;
		width: 510px;
		background-image: url("img/modulo_centro.gif");
		background-repeat: repeat-y;
	}
	
	.secciones_arriba {
		background-image: url("img/modulo_sup.gif");
		background-position: top center;
		background-repeat: no-repeat;
	}
	
	.secciones_abajo {
		background-image: url("img/modulo_inf.gif");
		background-position: bottom left;
		background-repeat: no-repeat;
		padding: 5px 5px 5px 15px;
	}

#ruta{
	width:740px;
	height:30px;
	float:left;
	font-size:13px;
	color:#ABABAB;
	margin-top:15px;
	margin-left:35px;
	}
	
#ruta-int{
	width:740px;
	height:30px;
	float:left;
	font-size:13px;
	color:#ABABAB;
	margin-top:75px;
	margin-left:35px;
	}
	
.ruta-izq {
float:left;
margin-left:20px;
margin-right:20px;
}

.ruta-dere a{
margin-left:175px;
float:left;
color:#3A92F4;	
text-decoration:none;	
}

.ruta-dere a:hover {
text-decoration:none;	
color:#3A92F4;	
}

#menu-navi li a:hover {
color:#FFFFFF;	
background-image:url(img/roll_over.gif)

}
#barra-lateral {
	width:178px;
	height:850px;
	background-color:#FFFFFF;
	margin-top:15px;
	margin-left:35px;
	float:left;
	}

ul.navenlace {
	width:155px;
	list-style:none;
	margin:0px 0px 15px 0px;
	padding:0px;
}

ul.navenlace li a:link, ul.navenlace li a:visited {
	padding:4px 0px 4px 20px;
	text-align:left;
	line-height:18px;
	display:block;
	border-bottom:1px solid #D2CDCD;
	text-decoration: none;
	color: #3992F0;
	font-size:12px;
	background: #F1F1F1 url(../../Images/bullet1.gif) no-repeat 5px center;
}

ul.navenlace li a:hover, ul.navenlace li a:active {
	background: #B0B0B0 url(../../Images/bullet2.gif) no-repeat 5px center;
	color: #FFFFFF;
}
/*
#rss{
	height:50px;
	border-bottom:1px solid #D2CECF;
	border-top:1px solid #D2CECF;
	margin-top:15px;
	text-align:center;
}*/
#prevenir {
	margin-top:25px;
	border-bottom:1px solid #D2CECF;
	border-top:1px solid #D2CECF;
}
.preve {
	margin-left:20px;
}

.imagen_mas{
float:left;
margin-right:15px;
}


#mas_atencion {
	margin-top:35px;
	border-top:1px solid #D2CECF;
	
}
.mas_atencion {
	margin-top:15px;
	margin-left:15px;
}



#transparencia {
	margin-top:25px;
	border-top:1px solid #D2CECF;
	border-bottom:1px solid #D2CECF;
	padding-top:25px;
}
#transpa {
	margin-left:10px;
	margin-bottom:25px;
}

/*C    O   N  T   E   N  I   D  O */


#contenido{
	width: 548px;
	height: 1896px;
	float: left;
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 15px;
	color: #5A5A5A;
	
}


#descripcion{ 
	width:540px;
	height:95px;
	font-size:12px;
	line-height:20px;
	text-align:justify;
	margin-left:10px;
  }
  
  
#reglas2010{ 
	width:510px;
	height:250px;
	font-size:12px;
	line-height:20px;
	text-align:justify;
	margin-left:10px;
	background:#F3f3f3;
	border:1px solid #D2CDCD;
	padding:10px;
	margi-bottom:15px;

  } 
  
#reglas-2010{ 
	width:510px;
	height:230px;
	font-size:12px;
	line-height:20px;
	text-align:justify;
	margin-left:10px;
	background:#Fff;
	padding:10px;

  }   
  
p.cartel-especificaciones a{
margin-left:140px;
color:#005E8A;	
text-decoration:none;
font-size:14px;
font-weight:bold;
}

p.cartel-especificaciones a:hover {
text-decoration:none;	
color:#3A92F4;	
}


#cartel{
	width:540px;
	height:290px;
	background:orange;}

  
  
  
h1{
	font-family:"Trebuchet MS";
	font-size:14px;
	color:#1446BF;
	font-weight:bold;
	line-height:20px;
	margin-bottom:15px;
	margin-left:15px;
}

.foto{
	float:left;
	margin-right:15px;
}




#mas{ 
	width:540px;
	height:600px;
	margin-left:10px;
	font-size:12px;
	color:#585858;
	line-height:20px;
	text-align:justify;
	font-family:"trebuchet MS", Verdana, Arial, Helvetica
  }



#programas{ 
	width:530px;
	height:600px;
	margin-left:2px;
	font-size:13px;
	line-height:22px;
	background-color:#F2F2F2;
	margin-left:10px;
	padding-top:20px;
	

}

#lista ul {
	margin: 0; 
	padding: 0;
	list-style-type: none;
} 

#lista li {
	margin: 5px 0 0 0;
	list-style-type: none;

} 

#lista a {
	background-color:#F2F2F2;
	text-decoration: none;
} 

#lista a:link, #lista a:active, #lista a:visited {
	padding:13px 50px 5px 5px;
	color:#3992F0;
	background-color:#F2F2F2;
	margin-left:5px;
}

#lista a:hover {
	background-image:url(img/roll_over2.gif);
	color:#5A5A5A;
}


.linea {
margin-left:47px;
}


#conocenos{
	width: 520px;
	height: 1336px;
	margin-left: 10px;
	font-size: 12px;
	color: #585858;
	line-height: 20px;
	text-align: justify;
	font-family: "trebuchet MS", Verdana, Arial, Helvetica
  }
  

#plan{ 
	width:520px;
	height:800px;
	margin-left:10px;
	font-size:12px;
	color:#585858;
	line-height:20px;
	text-align:justify;
	font-family:"trebuchet MS", Verdana, Arial, Helvetica
  }
    

#conocenos-val {
list-style-type: square;
} 

#conocenos-val ul{
margin-left:15px;
}

#conocenos-val li{
margin-left:15px;
}
#contenedor-conocenos{
	margin:0 auto;
	width: 742px;
	height:1300px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}  
  
#contenido-conocenos{
	width:540px;
	height:1100px;
	float:left;
	background-color:#FFFFFF;
	margin-left:35px;
	margin-top:15px;
	color:#5A5A5A;  
	}  

#contenedor-plan{
	margin:0 auto;
	width: 742px;
	height:1000px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}  
  
#contenido-plan{
	width:540px;
	height:auto;
	float:left;
	background-color:#FFFFFF;
	margin-left:35px;
	margin-top:15px;
	color:#5A5A5A;  
}  




#contenedor-directorio{
	margin:0 auto;
	width: 742px;
	height:1100px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-directorio {
	width:560px;
	height:900px;
	float:left;
	background-color:#FFFFFF;
	margin-left:35px;
	margin-top:15px;
	color:#5A5A5A;  
		
}


#contenedor-noticias{
	margin:0 auto;
	width: 742px;
	height:1900px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}
#contenido-noticias {
	width:580px;
	height:1700px;
	float:left;
	background-color:#FFFFFF;
	margin-top:15px;
	margin-left:35px;
	}

#contenedor-tramites{
	margin:0 auto;
	width: 742px;
	height:1150px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}
#contenido-tramites {
	width:560px;
	height:950px;
	float:left;
	background-color:#FFFFFF;
	margin-top:15px;
	margin-left:35px;
	color:#5A5A5A;  
}

#contenedor-reglas{
	margin:0 auto;
	width: 742px;
	height:2200px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}
#contenido-reglas {
	width:540px;
	height:2000px;
	float:left;
	background-color:#FFFFFF;
	border-left:1px solid #D2CDCD;
	margin-left:10px;
	color:#5A5A5A;  
}

#reglas{ 
	width:540px;
	height:2000px;
	font-size:12px;
	color:#585858;
	line-height:20px;
	text-align:justify;
	margin-left:10px;
	font-family:"trebuchet MS", Verdana, Arial, Helvetica
  }


#contenedor-progresiva{
	margin:0 auto;
	width: 742px;
	height:3400px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-progresiva {
	width:540px;
	height:3200px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}

#contenedor-compraventa{
	margin:0 auto;
	width: 742px;
	height:2600px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-compraventa {
	width:540px;
	height:2400px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}

#contenedor-lote{
	margin:0 auto;
	width: 742px;
	height:2150px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-lote {
	width:540px;
	height:1950px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}
#contenedor-fovim{
	margin:0 auto;
	width: 742px;
	height:1950px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-fovim {
	width:540px;
	height:1750px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}

#contenedor-fst{
	margin:0 auto;
	width: 742px;
	height:1780px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-fst {
	width:540px;
	height:1580px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}


#contenedor-contactanos{
	margin:0 auto;
	width: 742px;
	height:1200px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}

#contenido-contactanos {
	width:565px;
	height:auto;
	float:left;
	background-color:#FFFFFF;
	margin-top:15px;
	margin-left:35px;
	color:#5A5A5A;  
	}

#contactanos{ 
	width:530px;
	height:auto;
	font-size:12px;
	margin-left:10px;
	line-height:20px;
	text-align:justify;

  }


h2{
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#3992F0;
	font-weight:bold;
	line-height:20px;
	margin-top:25px;
}


#contenedor-programas{
	margin:0 auto;
	width: 742px;
	height:2900px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}
#contenido-programas {
	width:540px;
	height:2700px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}


#contenedor-mas{
	margin:0 auto;
	width: 742px;
	height:1500px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}
#contenido-mas {
	width:540px;
	height:1300px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}



#contenedor-proveedores{
	margin:0 auto;
	width: 742px;
	height:1180px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}
#contenido-proveedores {
	width:560px;
	height:980px;
	color:#5A5A5A;  
	float:left;
	background-color:#FFFFFF;
	margin-left:35px;
	margin-top:15px;
	}

#proveedores{ 
	width:530px;
	height:550px;
	font-size:12px;
	margin-left:10px;
	line-height:20px;
	text-align:justify;

  }


#lista-programas{ 
	width:540px;
	height:1780px;
	margin-left:10px;
	font-size:12px;
	line-height:20px;
}


p.espacio{ 
	margin-bottom:15px;
	text-align:justify;
	color:#5A5A5A;
}
h1.fondo{
	font-family:"Trebuchet MS";
	font-size:14px;
	color:#1446BF;
	font-weight:bold;
	line-height:20px;
	margin-bottom:15px;
	background-image:url(img/roll_over2.gif);
	padding:5px 0px 5px 0;
}
	
p.izquierda{ 
	margin-top:25px;
	text-align:right;
	color:#1446BF;
	font-size:14px;
}




.espacio-prog2{ 
	margin-left:30px;
	margin-bottom:15px;
	text-align:justify;
}
.programas {
list-style:none;
} 

.programas ul{
margin-left:25px;
}

.programas li{
margin-left:25px;
margin-bottom:20px;
text-align:justify;

}


.banner{
	margin-left:0px;	
}
.barra{
margin-left:10px;
}






ul.plan-lista {
list-style-image:url(~/Images/bullet3.gif);
margin-left:25px;
font-size:12px;
font-family:"trebuchet MS", Verdana, Arial, Helvetica;
line-height:20px;
} 
.imagen-amano{ 
	margin-left:10px;
	margin-bottom:20px;
}
  
  #contenedor-amano{
	margin:0 auto;
	width: 742px;
	height:990px;
	background:#FFFFFF;
	margin-top:10px;
	font-size:0px;
}  
  
#contenido-amano{
	width:540px;
	height:790px;
	float:left;
	background-color:#FFFFFF;
	margin-left:10px;
	border-left:1px solid #D2CDCD;
	color:#5A5A5A;  
}  

#amano{ 
	width:540px;
	height:550px;
	margin-left:10px;
	font-size:12px;
	line-height:20px;
}

h3{
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#990000;
	font-weight:bold;
		margin-top:25px;
}




ul #mas-lista {
font-size:12px;
font-family:"trebuchet MS", Verdana, Arial, Helvetica;
line-height:20px;
} 


#mas-lista li{
margin-left:40px;
list-style-image:url(~/Images/bullet2.gif);
}

ul #mas-lista2 {
font-size:12px;
font-family:"trebuchet MS", Verdana, Arial, Helvetica;
line-height:20px;
} 


#mas-lista2 li{
margin-left:40px;
list-style-image:url(~/Images/bullet1.gif);
}

#valores1{
	width:180px;
	height:auto;
	float:left;
	margin-left:15px;
}


#valores2{
	width:180px;
	height:130px;
	float:left;
	
}

#header{
width:740px;
height:120px;
border-bottom: 2px solid #ff7e0b;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-top:1px solid #fff;
}
#footer{
	width:740px;
	height:50px;
	background:url(img/foot.gif);
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	float:right;
	font-size:12px;
	color:#FFFFFF;
	margin-top:10px;
}

#info{
text-align:center;
margin-top:15px
}


#informe {
float:left;
margin-top:12px;
}

.informe{
margin-bottom:5px;
border:0px;
}


p.ver-mas{
	text-align:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#0b7ce6;
	font-size:11px;
	font-weight:bold;
	margin-bottom:10px;
	margin-right:5px;
}

p.ver-mas a{
	color:#0b7ce6;
}
p.ver-mas a:hover{
	color:#036;
}

#campana{
clear:both;
height:245px;
padding:0px;
margin:0px 4px 0px 5px;
background:#ccc;
}

#convocatoria{
clear:both;
width:516px;
height:65px;
padding:202px 0px 0px 25px;
margin:0px 0px 20px 4px;
background:#0c448f url(img/campana/banner_coveg.jpg) no-repeat;
}

.columna{
	float:left;
	width:232px;
	height:55px;
	margin-right:25px;
	line-height:16px;
	text-align:left;
	}
	
.ico-pdf{
	float:left;
	margin-right:5px;
	border:0px;
	}

a.ligas {
	font-size:13px;
	color:#fff;
	text-decoration:none;
	font-family:Lucida Sans;
	}

a.ligas:hover {
	color:#F90
	}

a.ligas-not {
	font-size:13px;
	color: #06C;
	text-decoration:none;
	}

a.ligas-not:hover {
	color:#F90
	}

#redes{
	width:178px;
	height:75px;
	margin-bottom:5px;
	padding-bottom:15px;
	}	
.titulo{
	height:25px;
	line-height:25px;
	border-bottom:1px solid #ccc;
	text-align:right;
	font-size:14px;
	font-family:'Quattrocento Sans', arial, serif;
	margin-bottom:10px;
	}	
	
.ico-red-a{
	float:left;
	margin-left:50px;
	margin-right:10px;
	border:0px;
	}	

.ico-red-b{
	float:left;
	margin-right:10px;
	border:0px;
	}	

.bullet{
	float:left;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:70px;
	}
	
#especial{
	width:178px;
	height:219px;
	padding-top:10px;
	text-align:center;
	}	

.sistemas{
	border:0px;
	margin-bottom:15px;
	}
	
#noticias{
	width:178px;
	height:auto;
	margin-bottom:5px;
	padding-bottom:15px;
	font-size:13px;
	}	
	
#notas{
	padding:10px;
	height:auto;
	}	
	
.mas{
	clear:both;
	padding-top:15px;
	padding-left:100px;
	font-size:13px
	}	
	
.banner-not{
	border:4px solid #009fdf;
	margin-bottom:10px;
	}	
	
	
#cam-prin{
	clear:both;
	width:520px;
	height:216px;
	padding:0px;
	margin:0px 4px 20px 5px;
	}
	
