﻿#contenedor_noticias
{
    margin: 0px;
    width: 100%;
}
#contenedor_noticias #noticias
{
    margin: 0px;
    float: left;
    width: 700px;
    height: 280px;
    display: block;
}
#contenedor_noticias #buscador
{
    margin-top: 0px;
    float: right;
    width: 220px;
    padding-right: 5%;
}
#contenedor_noticias #destacados
{
    margin-top: 20px;
    float: right;
    width: 220px;
    padding-right: 5%;
}

#destacados #encabezado
{
    background-image: url('../images/inicio/destacado.png');
    height: 52px;
    width: 220px;
}
#destacados #btn_seiisv
{
    background-image: url('../images/inicio/seiisv.png');
    height: 70px;
    width: 200px;
}

#destacados #btn_premio
{
    background-image: url('../images/inicio/premio.png');
    height: 70px;
    width: 200px;
}


#destacados #contenedor
{
    padding-left: 15px;
    background-color: #EAEAEA;
}

#informacion_coveg
{
    float: left;
    margin: 0px;
    width: 100%;
    border:solid 1px black;
}

#informacion_coveg #creditos
{
    margin-left: 15px;
    float: left;
    width: 220px;
    height: 210px;
}
#informacion_coveg #creditos #encabezado
{
    background-image: url('../images/inicio/credito.png');
    height: 52px;
    width: 220px;
}
#informacion_coveg #creditos #btn_programas
{
    background-image: url('../images/inicio/botones/programas01.png');
    height: 70px;
    width: 200px;
}

#informacion_coveg #creditos #btn_vap
{
    background-image: url('../images/inicio/botones/vap01.png');
    height: 70px;
    width: 200px;
}


#informacion_coveg #creditos #contenedor
{
    padding-left: 15px;
    background-color: #EAEAEA;
}
#informacion_coveg #organismos
{
    padding-left: 25px;
    float: left;
    width: 220px;
}


#informacion_coveg #organismos #encabezado
{
    background-image: url('../images/inicio/organismo.png');
    height: 52px;
    width: 220px;
}
#informacion_coveg #organismos #btn_junta
{
    background-image: url('../images/inicio/botones/junta01.png');
    height: 70px;
    width: 200px;
}

#informacion_coveg #organismos #btn_consejo
{
    background-image: url('../images/inicio/botones/consejo01.png');
    height: 70px;
    width: 200px;
}


#informacion_coveg #organismos #contenedor
{
    padding-left: 15px;
    background-color: #EAEAEA;
}

#informacion_coveg #normatica
{
    padding-right: 20px;
    padding-left: 10px;
    float: right;
    width: 220px;
}

#informacion_coveg #normatica #encabezado
{
    background-image: url('../images/inicio/normatividad.png');
    height: 52px;
    width: 220px;
}
#informacion_coveg #normatica #btn_reglas
{
    background-image: url('../images/inicio/botones/reglas01.png');
    height: 70px;
    width: 200px;
}

#informacion_coveg #normatica #btn_codigo
{
    background-image: url('../images/inicio/botones/codigo01.png');
    height: 70px;
    width: 200px;
}


#informacion_coveg #normatica #contenedor
{
    padding-left: 15px;
    background-color: #EAEAEA;
}


#informacion_coveg #publicaciones
{
    float: right;
    width: 220px;
    padding-right: 10px;
}

#informacion_coveg #publicaciones #encabezado
{
    background-image: url('../images/inicio/publicaciones.png');
    height: 46px;
    width: 220px;
}



#informacion_coveg #publicaciones #contenedor
{
    padding-left: 15px;
    background-color: #EAEAEA;
    height: 165px;
}
#informacion_coveg #publicaciones #contenedor #anterior
{
    position: relative;
    left: 0px;
    top: 60px;
    float: left;
    background-image: url('../images/inicio/anterior.png');
    width: 24px;
    height: 31px;
    cursor: pointer;
}
#informacion_coveg #publicaciones #contenedor #siguiente
{
    position: relative;
    left: 0px;
    top: 60px;
    background-image: url('../images/inicio/siguiente.png');
    width: 24px;
    cursor: pointer;
    float: right;
    height: 31px;
}
.anterior_publicacion
{
    background-image: url('../images/inicio/anterior.png');
}

.tabContent
{
    /*background-image: url(/images/tab/ContentCenter.gif);*/ /*border: solid 1px #1CA6DA;*/
    background-color: #F5F5F6;
    background-repeat: repeat-x;
    background-position: left bottom;
    color: #333333;
    height: 200px;
    width: 100%;
}
.tabContent td
{
    vertical-align: top;
    padding: 8px;
}
.tabTemplate
{
    border-collapse: collapse;
    font: 12px;
    color: #1CA6DA;
    padding-bottom: 0px;
    width: 160px;
}
.tabTemplate img
{
    margin: 0;
    display: block;
}
/*Programas COVEG*/
#programas #programas_encabezado
{
    width: 904px;
    height: 348px;
    background-image: url('../images/programas/programas_encabezado.png');
}
#programas #programas_contenido
{
    width: 904px;
    height: 538px;
    background-image: url('../images/programas/programas.png');
}

#programas #mejoramiento_vivienda
{
    margin-top: 75px;
    margin-left: 40px;
    float: left;
}

#programas #venta_inmuebles
{
    float: right;
    margin-top: 75px;
    margin-right: 20px;
}
#programas #Especiales
{
    float: left;
    margin-top: 190px;
    margin-left: 38px;
}

.botones
{
    text-align: right;
    padding-right: 50px;
    padding-top: 30px;
    border: solid 1px black;
    height: 80px;
}
.texto
{
    padding-left: 15px;
    text-align: justify;
    padding-right: 15px;
    height: 288px;
    padding-top: 120px;
}
.tabs
{
    /* padding-top:190px;*/
    border: solid 1px black;
    padding-left: 48px;
    padding-right: 48px;
    height: auto;
    max-height: inherit;
}

/*Tipos de Programas*/

/*Vienda Rural*/
#vivienda_rural
{
    width: 904px;
}
#vivienda_rural #encabezado
{
    height: 347px;
    background-image: url('../images/programas/vivienda_rural/encabezado.png');
}
#vivienda_rural #contenido
{
    /* background-color: #F5F5F6;*/
    height: auto;
    max-height: inherit;
}

/*Ciudadano Cumplido*/
#ciudadano_cumplido
{
}
#lotes
{
}

#vivienda_progresiva
{
}

#autocontruccion_fstsegm
{
}


.contenido
{
    border: solid 1px blue;
}



.lateral
{
    position: absolute;
    width: 210px;
    height: auto;
    left: 35px;
    z-index: 2;
}
.showing
{
    width: 100%;
   
}

/*.lateral { font: "Trebuchet MS", sans-serif; font-size:12px; position: absolute; width: 190px; height:auto; left: 35px; z-index:2;  filter:alpha(opacity=50);	-moz-opacity: 0.50; opacity: 0.50;  }
.showing { width: 190px; padding: 10px; z-index:2;  background-image:url("../../../publico/images/iconos/menu_background.jpg");  filter:alpha(opacity=50);	-moz-opacity: 0.50; opacity: 0.50; } */
.principal
{
    position: absolute;
    top: 30px;
}
.hide
{
    display: none;
}
.invisible
{
    visibility: hidden;
}

.tabs_inicio
{
    margin-left: 15px;
    float: left;
    width: 220px;
    height: 220px;
}
