﻿
/* CSS Document */
/* Hoja de estilos Página Inicial-Secretaría de Desarrollo Social y Humano
Dirección de Internet - Coordinación General de Comunicación Social */

body
{
	background-image:"../../Images/fondodegradado.jpg";
}

html{
	background-image:"../../Images/fondodegradado.jpg";
	}

#contenedor-new2{
	margin:0 auto;
	width:900px;
	height:1000px;
	}

#header-new2 {
	position:absolute;
	z-index:0;
	width:99%;
	height:50px;
	padding-top:0px;
	}
		
#header-new {
	position:absolute;
	z-index:0;
	width:99%;
	height:75px;
	padding-top:100px;
	}

@font-face {
    font-family: Intro Black Alt;
    src: url(IntroBlackAlt.otf);
	}

#contenido-inv{
	width:715px;
	height:40px;
	padding-left:185px;
	}
	
#menu-new{
	width:100%;
	height:40px;
	background:#009fdf;
	border-bottom:6px solid #2460ad;
	padding-left:0px;
	font-size:medium;
	font-family:Verdana;
	color:White;
	font-weight:bold;
	vertical-align:middle;
	}
	
a.srollo-bot1 {
	float:left;
    display: block;
    width:168px;
    height:40px;
    background: url("img/blank.gif") 0 0  no-repeat;
    text-decoration: none;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-family:'Intro Black Alt', arial, serif !important;
	line-height:40px;
	}

a:hover.srollo-bot1 {
    background-position: -40px 0;
    background:url("img/blank.gif.png") 0 0 no-repeat;
	text-decoration:underline;
	} 

a.srollo-bot2 {
	float:left;
    display: block;
    width:168px;
    height:40px;
    background: url("img/blank.gif") 0 0  no-repeat;
    text-decoration: none;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-family:'Intro Black Alt', arial, serif !important;
	line-height:40px;
	}

a:hover.srollo-bot2 {
    background-position: -40px 0;
    background:url("img/blank.gif.png") 0 0 no-repeat;
	text-decoration:underline;
	} 

a.srollo-bot3 {
	float:left;
    display: block;
    width:168px;
    height:40px;
    background: url("img/blank.gif") 0 0  no-repeat;
    text-decoration: none;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-family:'Intro Black Alt', arial, serif !important;
	line-height:40px;
	}

a:hover.srollo-bot3 {
    background-position: -40px 0;
    background:url("img/blank.gif.png") 0 0 no-repeat;
	text-decoration:underline;
	} 

a.srollo-bot4 {
	float:left;
    display: block;
    width:168px;
    height:40px;
    background: url("img/blank.gif") 0 0  no-repeat;
    text-decoration: none;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-family:'Intro Black Alt', arial, serif !important;
	line-height:40px;
	}

a:hover.srollo-bot4 {
    background-position: -40px 0;
    background:url("img/blank.gif.png") 0 0 no-repeat;
	text-decoration:underline;
	} 

a.srollo-bot5 {
	float:left;
    display: block;
    width:125px;
    height:40px;
    background: url("img/blank.gif") 0 0  no-repeat;
    text-decoration: none;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-family:'Intro Black Alt', arial, serif !important;
	line-height:40px;
	}

a:hover.srollo-bot5 {
    background-position: -40px 0;
    background:url("img/blank.gif.png") 0 0 no-repeat;
	text-decoration:underline;
	} 
	
a.srollo-bot6 {
	float:left;
    display: block;
    width:115px;
    height:40px;
    background: url("img/blank.gif") 0 0  no-repeat;
    text-decoration: none;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-family:'Intro Black Alt', arial, serif !important;
	line-height:40px;
	}

a:hover.srollo-bot6 {
    background-position: -40px 0;
    background:url("img/blank.gif.png") 0 0 no-repeat;
	text-decoration:underline;
	} 
	
#gobierno{
	position:absolute;
	z-index:5;
	width:168px;
	height:228px;
	margin-left:20px;
	margin-top:10px;
	}

#contenido-new{
	position:absolute;
	z-index:2;
	width:900px;
	height:auto;
	margin-top:186px;
	background: #FFF;
	}

.cajaborde{
		width:934px;
		background-image:url("img/contenedor_centro.png");
		background-position: top;		
		background-repeat: repeat-y;
		margin-left:-17px;
	}
	
.cajaarriba{
		background-image: url("img/arriba.png");
		background-position: top center;
		background-repeat: no-repeat;
	}
	
.cajaabajo{
	background-image: url("img/contenedor_inferior.jpg");
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-bottom:50px;
	}

#info-new{
	width: 830px;
	height: 2216px;
	padding: 25px 35px 10px 35px;
	}

#info-new-int{
	width:830px;
	height:1910px;
	padding:25px 35px 10px 35px;
	}

#descrip-new{
	margin:0 auto;
	width:630px;
	height:100px;
	padding-left:170px;
	font-family:'Quattrocento Sans', arial, serif;
	line-height:20px;
	color:#686868;
	margin-bottom:15px;
	text-align:justify;
	font-size:14px;
	}

#footer-new2{
	clear:both;
	width:100%;
	height:20px;
	background:#009fdf;
	font-family:'Quattrocento Sans', arial, serif;
	font-size:14px;
	line-height:18px;
	text-align:center;
	color:#fff;
	}
	
	
