body
{
    /*background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "Intro Book";
    font-size: 12px;
    width:1000px;*/
    
}
h1, h2, h3, h4, h5, h6
{
    margin-top: 0; /* la eliminación del margen superior resuelve un problema que origina que los márgenes escapen de la etiqueta div contenedora. El margen inferior restante lo mantendrá separado de los elementos de que le sigan. */
    padding-right: 15px;
    padding-left: 15px; /* la adición de relleno a los lados del elemento dentro de las divs, en lugar de en las divs propiamente dichas, elimina todas las matemáticas de modelo de cuadro. Una div anidada con relleno lateral también puede usarse como método alternativo. */
}
#frmMasterContent
{
    height: auto;
    width: auto; /*  height:1000px;*/
}
/* ~~ este contenedor de anchura fija rodea a las demás divs ~~ */
#container
{
    width: 1000px; /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4); /* background-color: #FFF;*/
    margin: 0 auto; /*height: 1190px  el valor automático de los lados, unido a la anchura, centra el diseño */
    height: auto; /* max-height: inherit;      min-height:auto;     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);*/
}

/* ~~ no se asigna una anchura al encabezado. Se extenderá por toda la anchura del diseño. Contiene un marcador de posición de imagen que debe sustituirse por su propio logotipo vinculado ~~ */
#header
{
    background-color: #FFFFFF;
    height:135px;
    width:1000px;   
}
.headerImage
{
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

#header #septop
{
    background-color: #FFFFFF;
    height: 34px;
    float: right;
    width: 1000px;
}
#header #sepleft
{   padding-top:34px;
    background-color: #FFFFFF;
    height: 180px;
    float: left;
    width: 370px;
}

#dependencia
{
    width: 1000px;
    float: right;
    background-color: #37599e;
    height: 50px;
}
#menu
{
    width: 1000px;
    float: left;
   /* background-color: #FFF;*/
    height: 30px; /*border: solid 1px black;*/
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    
}


#content
{
    width: 970px;
    background-color: #FFF;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: auto;
    float: left; /*border: solid 1px black;*/
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    
}
#banner
{
    height: 356px;
    width: 927px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
#continferior
{
    width: 927px;
    float: left;
}


#pie
{
    /*background-color: #e1e1e1;*/
    height: 290px;
    width: 100%;
    float: left;
    background-image: url('../images/master/footer.png'); /*border: solid 1px black;*/
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
#pie #redes
{
    /*background-color: #e1e1e1;*/
    width: 367px;
    float: left;
    text-align: center;
    margin-top: 50px;
}
#pie #servirte
{
    /* background-color: #e1e1e1;*/
    margin-bottom: 0px;
    width: 319px;
    float: left;
    text-align: center;
    margin-top: 40px;
    height: auto;
    height: 220px;
}
#pie #ubicacion
{
    /*clear: left;*/
    background-color: #e1e1e1;
    width: 310px;
    float: right;
    text-align: center;
    margin-top: 50px;
    top:10px;
}

#footer
{
    margin-bottom: 5px; /* background-color: #b0b0b2;*/
    height: 30px;
    width: 100%;
    float: left;
    text-align: center;
}
#footer div
{
    margin-left: 13%;
    float: left;
}

.margen
{
    padding-left: 3%;
}

#contenido-contactanos
{
    width: 565px;
    height: auto;
    float: left;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-left: 35px;
    color: #5A5A5A;
    padding-left: 18%;
}
#contactanos
{
    width: 530px;
    height: auto;
    font-size: 18px;
    margin-left: 10px;
    line-height: 20px;
    text-align: justify;
}

.cintillo-noticias
{
    height: 124px;
    margin-bottom: 5px;
    margin-left:595px;
    margin-top: -5px;
    position: absolute;
    width: auto;
    z-index: 9999;
}
