﻿.cajaborde{
		border:4px solid;
	}


    div#container { 
  width: 167px;
  margin: 0px;
  background: #FFFFFF;
  height: 5px;
  float:none;
       top: 20px;
       left: 853px;
}

 

/* HOVER STYLES */

div#pop-up {
  display:none;
  float:none;
  text-align:justify;
  padding-left:50px;
  padding-top:2px;
  background-image:url(../Images/Boton-5.1.1FinalU.png);
  font-family :Verdana;
  font-size: 9px;
  height: 29px;
}