@font-face {
  font-family: 'Intro_Book';
  src: url('/Fonts/Intro_Book.otf') format("opentype");
}

body {
	font: Intro_Book;
	margin: 0px auto;
	color: #665;
	
}

a {
	color: #333;
}
.fondoSalir
{
	margin: 0;
	padding: 7px 6px 0;
	background: #7d7d7d url(../Images/gradient.png) repeat-x 0 -110px;
	line-height: 100%;
	z-index:10;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
.fondoMenu {
	margin:0;list-style:none;padding:0;background-color:#C0C0C0;background-image:url("mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	}
ul#nav,ul#nav ul{
	margin:0;list-style:none;padding:0;background-color:#C0C0C0;background-image:url("mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ul#nav ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#FFF;background-image:none;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#d8d9da;padding:0 9px 9px;}
ul#nav li:hover>*{
	display:block;}
ul#nav li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#nav li:hover{
	z-index:1;}
ul#nav{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:1px 1px 1px 0;
	*display:inline;}
* html ul#nav li a{
	display:inline-block;}
ul#nav>li{
	margin:0 0 0 1px;}
ul#nav ul>li{
	margin:1px 0 0;}
ul#nav a:active, ul#nav a:focus{
	outline-style:none;}
ul#nav a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Arial;color:#262626;cursor:default;padding:10px;background-color:#C0C0C0;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#nav ul li{
	float:none;margin:9px 0 0;}
ul#nav ul a{
	text-align:left;padding:8px 0 0 0;background-color:#FFF;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#D9D9D9;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:13px Arial;color:#333333;text-decoration:none;}
ul#nav li:hover>a,ul#nav li a.pressed{
	background-color:#C0C0C0;border-style:none;color:#efefef;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#nav span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#nav ul li:hover>a,ul#nav ul li a.pressed{
	background-color:#FFF;background-image:none;border-style:solid;border-color:#D9D9D9;color:#5500ff;text-decoration:none;}
ul#nav li.topfirst>a{
	border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#d8d8d8 0px 1px 1px;}
ul#nav li.topfirst:hover>a,ul#nav li.topfirst a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#nav li.topmenu>a{
	text-shadow:#d8d8d8 0px 1px 1px;}
ul#nav li.topmenu:hover>a,ul#nav li.topmenu a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#nav li.toplast>a{
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;text-shadow:#d8d8d8 0px 1px 1px;}
ul#nav li.toplast:hover>a,ul#nav li.toplast a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#nav _>li>a{
	padding:0;}
ul#nav li.subfirst>a{
	border-width:0;border-style:none;padding:0;}
ul#nav li.subfirst:hover>a,ul#nav li.subfirst a.pressed{
	border-style:none;}
