﻿@font-face {
  font-family: 'Intro_Book';
  src: url('../../Fonts/Intro_Book.otf') format("opentype");
}

.myheader 
{
	background-image: url("../Images/header.gif"); 
	background-repeat:repeat;
}

.boton {
    border: 1px solid #8ec1da;
   /*background-color: #ddeef6;*/
	background-image: url("../../Images/header.gif"); 
	background-repeat:repeat;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   color: #297598;
   text-shadow: 0 1px #fff;
   padding: 5px 20px;
   font-family:Intro_Book;
}

.boton:hover {
   border: 1px solid #8ec1da;
   /*background-color: #f7f7fc;*/
   	background-image: url("../../Images/header.gif"); 
	background-repeat:repeat;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #ffffff;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #ffffff;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #ffffff;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #ffffff;
   color: #3985a8;
   text-shadow: 0 1px #fff;
   padding: 5px 20px;
   cursor:hand;
   font-family:Intro_Book;
}

.ModalPopupPosition
{
	position:absolute;
    left: 0px;
    top: 0px;
    z-index: 9000;
    width: 1003px;
    height: 598px;
}

.ModalPopupBG
{
    background-color:#f1f1f1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.comboSeleccion
{
	font-size:12px;
	font-family:Intro_Book;
	background-color:#E2ECFA;
}

.etiquetaRequerido
{
	font-size:9px;
	color:Red;
}


.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}



.Etiquetas
{
	font-family: Intro_Book;
	font-size:11px;
	color:#222222;
	color:Black;
	font-weight: 700;
}

.Titulo
{
	position: relative;
	top: 0px;
	font-weight: 700;
	height: 10px;
	color:#0066CC;
	font-family: Intro_Book;
	font-size: 11pt;
}

.ImagenTitulo
{
	height: 30px;
	width: 200px;
}

input[type=text]
{
    font-family: Intro_Book;
    font-size: 9pt;
    height:"8px";
}

.cpMainHeader
{
	color: white;
    background-color: #619DDB;
    font: bold 11px auto Intro_Book, Intro_Book;
    font-size: 12px;
    width:600px;
    border:1px solid #c7c7c7
}

.cpHeader
{
	color: white;
    background-color: #619DDB;
    font: bold 11px auto Intro_Book, Intro_Book;
    font-size: 12px;
    width:600px;
    border:1px solid #c7c7c7
}
.cpSubHeader
{
	color: white;
    background-color: royalblue;
    font: bold 11px auto Intro_Book, Intro_Book;
    font-size: 12px;
    width:600px;
    border:1px solid #c7c7c7
}

.cpBody
{
	background-color: #ffffff;
    font: normal 11px auto Intro_Book, Intro_Book;
    width:600px;
    border:1px solid #c7c7c7 padding: 0;
  
}
.shadowPanel
{
	background-color:#ffffff;
	border-radius: 10px 10px 2px 2px;
   box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
  
	}

.cpHeaderCatalogos
{
	color: white;
    background-color: #619DDB;
    font: bold 11px auto Intro_Book, Intro_Book;
    font-size: 12px;    
    border:1px solid #c7c7c7
}

.textbox { 
    border: 1px solid #80808c; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
    background-color:#E2ECFA;
} 
 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.grid
{
	  padding: 0;
   background: #6fb2e5;
   box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
	}
	
	.autocomplete_completionListElement
        {
            margin: 0px !important;
            z-index:99999 !important;
            
            background-color: ivory;
            color: windowtext;
            border: buttonshadow;
            border-width: 1px;
            border-style: solid;
            cursor: 'default';
            overflow: auto;
            height: 200px;
            text-align: left;
            left: 0px;
            list-style-type: none;
        }
        /* AutoComplete highlighted item */
        .autocomplete_highlightedListItem
        {
        	z-index:99999 !important;
            background-color: #ffff99;
            color: black;
            padding: 1px;
            cursor:hand;
        }
        /* AutoComplete item */
        .autocomplete_listItem
        {
        	z-index:99999 !important;
            background-color: window;
            color: windowtext;
            padding: 1px;
            cursor:hand;
        }