﻿<%@ Page Title="Control de Inventario" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="AccessDenied.aspx.cs" Inherits="CovegInventarios.Views.AccessDenied" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        NO TIENE PERMISOS
    </p>
</asp:Content>
