﻿<%@ Page Title="Procesos" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Procesos.aspx.cs" Inherits="CovegInventarios.Views.Procesos.Procesos" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
